#section1{
    color: #663399;
}

#section2{
    color: #0000ff;
}
#logo{
    width: 100px;
}

#main-header{
    display: flex;
    flex: row;
}
.menu-nav{
    list-style: none;
    padding-left: 0;
    /*display: flex;
    flex: row;*/
}

.menu-nav > li{
    display: inline-block;
}

.menu-nav a{
    font-family: 'Playfair Display', 'Arial', serif;
    text-decoration: none;
    color: #d40000;
    transition: color 0.2s ease-in-out;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;
}

.menu-nav :hover{
    color: #663399;
}